body
{
	background-color:black;
	font-family: 'Josefin Sans', sans-serif;
}
.logo img
{
	width:100px;
	height:100px;
	opacity:0.7;
}
#logo
{
	width:40%;
	float:left;
	margin-top:-1.0em;
}
nav
{
	font-size:0.88em;
	font-weight:bold;
	width:60%;
	float:right;
}
nav ul
{
	float:right;
	
}
nav ul li 
{
	list-style-type: none;
	float:left;
	padding:0.5em;
	
}
nav ul li a
{
	text-decoration:none;
	color:white;
	
}
nav ul li a:hover 
{
	color:yellow;
	
	
	
}

footer
{
	clear:left;
	color:white;
	font-size:0.7em;
	text-align:center;
	position:relative;
	bottom:20px;
	width:100%;
	
	
	
	
}
#background img
{
	width:100%;
	height:500px;
}
h1
{
	position:absolute;
	top:2em;
	text-align:center;
	width:100%;
	font-weight:30;
	font-size:3em;
	color:white;
}
h6
{
position:absolute;
	top:5.5em;
	text-align:center;
	width:100%;
	font-weight:20;
	font-size:1.5em;
	color:white;
}	
.mainButton
{
	line-height:40px;
	padding:10px 30px;
	border:0.05em solid rgb(255,255,230);
	color:white;
	text-decoration:none;
	font-size:0.8em;
	border-radius:0.7em;
	
	
}
.mainButton:hover
{
	background-color:rgb(255,255,240);
	color:black;
	transition:1s ease all;
	
}
#building
{
		float:left;
		width:100%;
		margin:2.5em;
		height:600px;
}
#three 
{
	width:25%;
	margin-right:2em;
	margin-left:2em;
	float:left;
}
h2
{
	color:white;
	text-align:center;
	font-weight:20;
}
p
{
	color:white;
	text-align:center;
	font-weight:20;

}
.imgs
{
	width:100%;
	height:400px;
}

.do
{
	text-align:center;
	margin-top:-0.1em;
	
}
#learn
{
	float:left;
	margin-left:43%;
	
}
#learn a
{
	line-height:100px;
	padding:10px;
	border:2px solid rgb(255,255,230);
	color:white;
	text-decoration:none;
	font-size:1.1em;
	text-align:center;
	border-radius:12px;
}
#learn a:hover
{
	background-color:white;
	color:black;
	transition:0.7s ease all;
}

#all
{
	width:100%;
	float:left;
}
#paragraphs
{
	width:20%;
	float:left;
	
}
#paragraphs h1
{
	color:white;
	text-align:center;
	font-weight:30;
}
#paragraphs h3
{
	color:white;
	text-align:center;
	font-weight:30;
}
#gallery
{
	width:80%;
	float:right;
}
.kid
{
	width:20%;
	padding:1.2em;
}
.clock
{
	width:35%;
	padding:1.2em;
}
.arch
{
	width:30%;
	padding:1.2em;
}
.nature
{
	width:60%;
	padding:1.2em;
}
.mntn
{
	width:25%;
	padding:1.2em;
}

#contact h2
{
	text-align:left;
	
}
#info
{
	padding:5% 10%;
	text-align:left;
	height:350px;
	
}
#info h2
{
	color:white;
	font-weight:50;
	text-align:left;
}
#info a 
{
	text-decoration:none;
	color:white;
	font-size:1.5em;
	font-weight:50;
	line-height:2em;
}
#info p
{
	text-align:left;
	font-size:1.5em;
}
@media(max-width:1100px){
	
	#all
	{
		width:100%;
		margin:0px;
		padding:0px;
		
	
	}
	#paragraphs{
		width:100%;
		margin:0px;
	}
	#paragraphs p
	{
		display:none;
	}
	#paragraphs h3
	{
		display:none;
		
	}
	#paragraphs h2
	{
		text-align:center;
		width:100%;
		display:block;
		
	}
	#gallery
	{
		width:100%;
		margin:0%;
		padding:0px;
		
	}
	.kid
	{
		width:80%;
		margin-left:7%;
		margin-right:10%;
	}
	.clock
	{
		width:80%;
		margin-left:7%;
		margin-right:10%;
	}
	.arch
	{
		width:80%;
		margin-left:7%;
		margin-right:10%;
	}
	.nature
	{
		width:80%;
		margin-left:7%;
		margin-right:10%;
	}
	.mntn
	{
		width:80%;
		margin-left:7%;
		margin-right:10%;
	}
}
@media(max-width:720px)
{
	body
	{
		width:100%;
		overflow-x:hidden;
		margin:0;
		padding:0;
	}
	main
	{
		width:100%;
		margin:0;
		padding:0;
	}
	#background img
	{
		visibility:hidden;
		height:300px
	}
	#logo
	{
		width:100%;
		text-align:center;
	}
	nav
	{
		width:100%;
		font-size:0.88em;
		font-weight:bold;
		
		
	}
	nav ul
	{
		width:100%;
		
	}
	nav ul li 
	{
		
		width:100%;
		padding:0.5em;
		text-align:center;
		background:grey;
		margin-bottom:15px;
		
	}
	nav ul li a
	{
		text-decoration:none;
		color:white;
	
	}
	h1
	{
	position:absolute;
	top:13em;
	text-align:center;
	width:100%;
	font-weight:30;
	font-size:1.5em;
	color:white;
	
	}
	h6
	{
	position:absolute;
	top:17em;
	text-align:center;
	width:100%;
	font-weight:20;
	font-size:1.2em;
	color:white;
	}	
	#building
	{
		
		width:100%;
		
	}
	#three 
	{
	width:100%;
	margin:0;
	

	}
	.do
	{
	text-align:center;
	margin-top:-1.6em;
	}
	h2
	{
	color:white;
	text-align:center;
	font-weight:20;
	}
	
	p
	{
		display:none;
	}
	.imgs
	{
	
	width:100%;
	
	}
	
	#building
	{
		
		width:100%;
		margin:0em;
		height:1500px;
	}
	#three 
	{
		width:80%;
		margin-right:10%;
		margin-left:10%;
		float:left;
	}
	
	footer
	{
		padding-top:20px;
		border-top:solid 1px white;
	}
	#contact h2
	{
		visibility:hidden;
		
	}
	
	#info
	{
		padding:1% 5%;
		text-align:left;
		height:300px;
		
	}
	#info h2
	{
		visibility:visible;
		color:white;
		font-weight:50;
		text-align:left;
	}
	#info a 
	{
		text-decoration:none;
		color:white;
		font-size:0.7em;
		font-weight:50;
		line-height:2em;
	}
	#info p
	{
		text-align:left;
		font-size:0.7em;
		display:block;
	}
	
		
		
				
}