<!DOCTYPE html>
<html lang="en">
<head>
	<title>Hanar Sabah</title>
	<meta charset="UTF-8">
	<link href="https://fonts.googleapis.com/css?family=Josefin+Sans:100,300,400,600,700" rel="stylesheet">
</head>

<body>
	<header>
		<a href="index.html" class="logo"><img src="Images/logo.png" alt="logo"></a>
	</header>
	
	<nav>
		<ul>
			<li><a href="index.html">HOME</a></li>
			<li><a href="products.html">PROFUCTS</a></li>
			<li><a href="about.html">ABOUT</a></li>
			<li><a href="contact.html">CONTACT</a></li>
		</ul>
	</nav>
	
	
	<main>
	</main>
	
	<footer>
		&copy; Copyright 2017. All Rights Reserved. <br>
	</footer>
	
</body>
</html>
